{% extends "ap2.j2" %}

{% block summary %}
<p>De applicatie Tijdelijke Inname Openbaar Domein (TIOD) laat toe om aangevraagde innames door een beheerder te laten vergunnen.</p>
{% endblock %}

{% block status %}
<p>Deze specificatie is in ontwikkeling.</p>
{% endblock %}
