{% extends "ap2.j2" %}

{% block summary %}
<p>Deze specificatie beschrijft het implementatiemodel van de applicatie Tijdelijke Inname openbaar Domein (TIOD).</p>
{% endblock %}

{% block status %}
<p>Deze specificatie is in ontwikkeling.</p>
{% endblock %}
